<h1><%= @restaurant.name %></h1>
<h2>Information :</h2>
<p>Adresse : <%= @restaurant.address %></p>
<p>Téléphone : <%= @restaurant.phone_number %></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %>/5</li>
  <% end %>
</ul>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Book now", "#", class: "btn btn-flat" %>
